.productCard{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  
  cursor: pointer;
}

.productCard:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(47, 235, 252, 0.692), 0 4px 8px rgba(28, 205, 214, 0.06);
}
/* .bg-blue {
    background-image: 
    url(
  "../../assets/images/palmTrees.jpg");
    background-size: "cover";
} */

.product-page {
    /* background-image: 
    url(
  "../../assets/images/palmLeaves.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
    
    
    /* opacity: 0.5; */
}

/* .product-page {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.product-page::before {    
      content: "";
      background-image: url('https://res.cloudinary.com/dhhu9vsnn/image/upload/v1659994555/surf/palmLeaves_c9r5wp.jpg');
      background-size: cover;
      position: absolute;
      background-attachment: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
}
